{{template "base" .}}


{{define "content"}}
    <h1>This is the about page</h1>
    <p>This is come from the template {{index .StringMap "test"}} </p>

    <p>
    {{if ne (index .StringMap "remote_ip") ""}}
        Your remote ip address is {{index .StringMap "remote_ip"}}
    {{else}}
        I do not know your ip address. Visit the <a href="/">Home page</a>
    {{end}}

    </p>

{{end}}

